@import url("./Core.module.css");

.listsTable {
  width: 100%;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.listsTable tbody :first-child {
  width: 100%;
}

.listsTable tbody tr:hover {
  transition-duration: 500ms;
  background-color: #e6e6e6;
}
